

.copyright{
	height: 50px;
	width: 100%;
	background-color: rgba(0, 0, 0, 1);
	color: #eeeeee;
	margin-top: 0;
	display: flex;
	justify-content: center;
	border-top: solid 1px white;
	align-items: center;
}